body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

.container{
background:white;
width:350px;
margin:auto;
margin-top:50px;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

input{
width:90%;
padding:10px;
margin:8px;
}

button{
padding:10px;
background:#28a745;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.progress{
width:100%;
background:#ddd;
border-radius:20px;
margin-top:10px;
}

.bar{
height:20px;
background:#4CAF50;
width:0%;
border-radius:20px;
}